
body {
    background-image: url(https://github.com/jsolahr/Basic-Portfolio/blob/master/assets/images/concrete_seamless.png?raw=true);
    margin: 0px;
    align-content: center;
    overflow: hidden;
    color: gray;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    padding: 5px;
    font-size: 35px;
    margin-left: 0px;
    text-align: left;
    font-weight: bold;
    line-height: 35px;
    
}
hr {
    margin:0;
    padding:0;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    background-color: white;
    font-size: 35px;
    padding: 10px;
    font-weight: bold;
}
.container {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-link {
    color: gray;
}
.navbar {
    border-bottom: solid .2px lightgray;
    margin:0px;
    margin: 0px;
}
.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
}
img {
    height: 200px;
    width:200px;
    padding: 10px;
    margin: 10px;
    border-color: white solid 2px;
}
form {
    margin-top: 15px;
}
button {
    background-color: #4aaaa5;
    margin-bottom: 15px;
}
.fixed-bottom {
    background: gray;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    border-top: solid #4aaaa5 8px;
    font-size: 12px;
}
